@import 'tailwindcss';
@import '../legacy/styles/legacy.css' layer(components);

@layer components {
  [multiple],
  [type='date'],
  [type='datetime-local'],
  [type='email'],
  [type='month'],
  [type='number'],
  [type='password'],
  [type='search'],
  [type='tel'],
  [type='text'],
  [type='time'],
  [type='url'],
  [type='week'],
  input:where(:not([type])),
  select,
  textarea {
    --tw-shadow: 0 0 #0000;
    -webkit-appearance: none;
    appearance: none;
    border-color: var(--color-gray-200);
    border-radius: 0;
    border-width: 1px;
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0.5rem 0.75rem;
  }

  select {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3E%3Cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m6 8 4 4 4-4'/%3E%3C/svg%3E");
    background-position: right 0.5rem center;
    background-repeat: no-repeat;
    background-size: 1.5em 1.5em;
    padding-right: 2.5rem;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  .notSelectable {
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
  }

  .scrollable {
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    scrollbar-track-color: transparent;
    transition: scrollbar-color 0.5s ease;
    scrollbar-gutter: stable;
  }

  .scrollable::-webkit-scrollbar-thumb {
    height: 10px;
  }
  
  .scrollable:hover {
    transition: scrollbar-color 0.5s ease;
    scrollbar-color: var(--color-gray-300) transparent;
  }
  
  .scrollable::-webkit-scrollbar-button {
    display: none;
  }
}
