@import 'tailwindcss';

@theme {
  /* SuperSchool Default Brand Color */
  /* This colors change in ThemeProvider */
  --color-primary-50: #fff8f5;
  --color-primary-100: #ffe8db;
  --color-primary-200: #ffd8c2;
  --color-primary-300: #ffcbad;
  --color-primary-400: #ffbc99;
  --color-primary-700: #ff803d;
  --color-primary-800: #ff600c;
  --color-primary-850: #cc4700;
  --color-primary-900: #cc4700;
  --color-primary-950: #a23800;
  --color-primary-999: #cc4700;

  /* Gray Scale */
  --color-gray-50: #f9fafb;
  --color-gray-100: #f4f6f8;
  --color-gray-200: #e8eaed;
  --color-gray-300: #d8dbdf;
  --color-gray-400: #c7cbd1;
  --color-gray-500: #898d94;
  --color-gray-600: #61656b;
  --color-gray-700: #4c5057;
  --color-gray-800: #24282d;
  --color-gray-900: #121417;

  /* IB Colors */
  --color-ib-blue-50: #f2f9ff;
  --color-ib-blue-100: #dbeeff;
  --color-ib-blue-400: #66b2ff;
  --color-ib-blue-800: #0066ff;
  --color-ib-green-50: #f3fbf9;
  --color-ib-green-100: #ddf4ed;
  --color-ib-green-400: #78ceb9;
  --color-ib-green-800: #00a876;
  --color-ib-green-850: #007d58;

  /* System Colors */
  --color-system-error: #ff2626;

  /* Dimmed Effect */
  --color-dimmed: rgba(0, 0, 0, 0.6);
  --color-dimmed-60: rgba(0, 0, 0, 0.6);
  --color-dimmed-8: rgba(0, 0, 0, 0.08);
  --color-dim-8: rgba(0, 0, 0, 0.08);

  /* Gradient */
  --color-gradient-green-400: linear-gradient(rgba(0, 190, 133, 1), rgba(118, 218, 188, 1));
  --color-gradient-green-800: linear-gradient(rgba(0, 168, 118, 1), rgba(92, 202, 175, 1));
  --color-gradient-blue-400: linear-gradient(rgba(53, 111, 255, 1), rgba(102, 178, 255, 1));
  --color-gradient-blue-800: linear-gradient(rgba(0, 102, 255, 1), rgba(67, 161, 255, 1));
  --color-gradient-orange-400: linear-gradient(rgba(255, 128, 61, 1), rgba(255, 188, 153, 1));
  --color-gradient-orange-800: linear-gradient(rgba(255, 96, 12, 1), rgba(255, 128, 61, 1));
  --color-gradient-navy-400: linear-gradient(rgba(110, 131, 163, 1), rgba(164, 192, 207, 1));
}
