@import 'tailwindcss';

@theme {
  /* SuperSchool Default Brand Color */
  /* This colors change in ThemeProvider */
  --color-primary-50: #fff8f5;
  --color-primary-100: #ffe8db;
  --color-primary-200: #ffd8c2;
  --color-primary-300: #ffcbad;
  --color-primary-400: #ffbc99;
  --color-primary-700: #ff803d;
  --color-primary-800: #ff600c;
  --color-primary-850: #cc4700;
  --color-primary-900: #cc4700;
  --color-primary-950: #a23800;
  --color-primary-999: #501c00;
  /* 디자인팀의 2 degree 색상을 지원하기 위한 대응 컬러 (**개선되어야 함) */
  --color-secondary-800: #4C5057; /* bg */
  --color-secondary-850: #24282D; /* hover bg */
  /* 디자인팀의 4 degree 색상을 지원하기 위한 대응 컬러 (**개선되어야 함) */
  --color-tertiary-100: #f9fafb; /* solid bg */
  --color-tertiary-300: #d8dbdf; /* hover bg */
  --color-tertiary-400: #c7cbd1; /* border-color */
  --color-tertiary-600: #121417; /* text-color */

  /* Gray Scale */
  --color-gray-50: #f9fafb;
  --color-gray-100: #f4f6f8;
  --color-gray-200: #e8eaed;
  --color-gray-300: #d8dbdf;
  --color-gray-400: #c7cbd1;
  --color-gray-500: #898d94;
  --color-gray-600: #61656b;
  --color-gray-700: #4c5057;
  --color-gray-800: #24282d;
  --color-gray-900: #121417;

  /* Dimmed Effect */
  --color-dimmed: rgba(0, 0, 0, 0.6);
  --color-dimmed-60: rgba(0, 0, 0, 0.6);
  --color-dimmed-8: rgba(0, 0, 0, 0.08);
  --color-dim-8: rgba(0, 0, 0, 0.08);

  /* Gradient */
  --background-image-gradient-navy-400: linear-gradient(90deg, #6e83a3 0%, #a4c0cf 100%);
  --background-image-gradient-blue-400: linear-gradient(90deg, #356fff 0%, #66bdff 100%);
  --background-image-gradient-green-400: linear-gradient(90deg, #00be85 0%, #76dabc 100%);
  --background-image-gradient-orange-400: linear-gradient(90deg, #ff803d 0%, #ffbc99 100%);

  /* Old Primary Colors */
  --color-old-primary-red-100: #ffebeb;
  --color-old-primary-red-400: #ffadad;
  --color-old-primary-red-800: #ff2626;
  --color-old-primary-green-50: #f3fbf9;
  --color-old-primary-green-100: #ddf4ed;
  --color-old-primary-green-400: #78ceb9;
  --color-old-primary-green-800: #00a876;
  --color-old-primary-blue-50: #f2f9ff;
  --color-old-primary-blue-100: #dbeeff;
  --color-old-primary-blue-400: #66b2ff;
  --color-old-primary-blue-800: #0066ff;

  /* System Colors */
  --color-system-error: #ff2626;
}
