@import 'tailwindcss';

/* legacy components */
.badge {
  display: inline-flex;
  cursor: pointer;
  align-items: center;
  border-radius: 9999px;
  background-color: var(--color-gray-100);
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--color-gray-800);
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  display: flex;
  width: 100%;
  border-top-width: 1px;
  background-color: #ffffff;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.bottom-nav-item {
  display: flex;
  height: 3rem;
  flex: 1 1 0%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--color-gray-300);
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.bottom-nav-item:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.checkbox {
  height: 1rem;
  width: 1rem;
  border-radius: 0.25rem;
  border-color: var(--color-gray-300);
  color: var(--color-primary-800);
}

.checkbox:focus {
  --tw-ring-color: var(--color-primary-800);
}

.chip {
  white-space: nowrap;
  border-radius: 9999px;
  background-color: var(--color-gray-100);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.875rem;
  color: var(--color-gray-800);
}

.chip-selected {
  background-color: var(--color-primary-800);
  color: #ffffff;
}

.file-upload {
  border-radius: 0.25rem;
  border-width: 2px;
  border-style: dashed;
  border-color: var(--color-gray-500);
  background-color: #ffffff;
}

.horizontal-scroll-view-inner {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.image-upload {
  display: flex;
  aspect-ratio: 5/3;
  cursor: pointer;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 0.25rem;
  border-radius: 0.25rem;
  border-width: 2px;
  border-style: dashed;
  border-color: var(--color-gray-500);
  background-color: #ffffff;
}

.list {
  display: flex;
  flex-direction: column;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination-link {
  display: grid;
  height: 2.5rem;
  width: 2.5rem;
  place-items: center;
  border-radius: 0.125rem;
  font-size: 0.875rem;
  color: var(--color-gray-500);
}

.pagination-link:hover {
  background-color: var(--color-gray-50);
}

.radio {
  height: 1rem;
  width: 1rem;
  border-color: var(--color-gray-300);
  color: var(--color-primary-800);
}

.radio:disabled {
  color: var(--color-gray-600);
}

.section {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media (min-width: 1280px) {
  .section {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}

.select-xs {
  height: 1.25rem;
  border-radius: 0.125rem;
  border-width: 1px;
  border-color: var(--color-gray-200);
  font-size: 0.75rem;
  font-weight: 300;
}

.select-xs::placeholder {
  color: var(--color-gray-400);
}

.select-xs:focus {
  border-color: var(--color-primary-800);
}

.select-xs:disabled {
  background-color: var(--color-gray-100);
  color: var(--color-gray-400);
}

.select-sm {
  height: 1.75rem;
  border-radius: 0.25rem;
  border-width: 1px;
  border-color: var(--color-gray-200);
  font-size: 0.8125rem;
}

.select-sm::placeholder {
  color: var(--color-gray-400);
}

.select-sm:focus {
  border-color: var(--color-primary-800);
}

.select-sm:disabled {
  background-color: var(--color-gray-100);
  color: var(--color-gray-400);
}

.select {
  height: 2.25rem;
  border-radius: 0.375rem;
  border-width: 1px;
  border-color: var(--color-gray-200);
  font-size: 0.875rem;
}

.select::placeholder {
  color: var(--color-gray-400);
}

.select:focus {
  border-color: var(--color-primary-800);
}

.select:disabled {
  background-color: var(--color-gray-100);
  color: var(--color-gray-400);
}

.select-lg {
  height: 2.75rem;
  border-radius: 0.5rem;
  border-width: 1px;
  border-color: var(--color-gray-200);
  font-size: 0.9375rem;
  font-weight: 500;
}

.select-lg::placeholder {
  color: var(--color-gray-400);
}

.select-lg:focus {
  border-color: var(--color-primary-800);
}

.select-lg:disabled {
  background-color: var(--color-gray-100);
  color: var(--color-gray-400);
}

.select-xl {
  height: 3.25rem;
  border-radius: 0.5rem;
  border-width: 1px;
  border-color: var(--color-gray-200);
  font-size: 1rem;
  font-weight: 700;
}

.select-xl::placeholder {
  color: var(--color-gray-400);
}

.select-xl:focus {
  border-color: var(--color-primary-800);
}

.select-xl:disabled {
  background-color: var(--color-gray-100);
  color: var(--color-gray-400);
}

.tabs {
  display: flex;
  height: 2.5rem;
  overflow-y: hidden;
  border-bottom-width: 1px;
  background-color: #ffffff;
}

.tabs-item {
  display: flex;
  flex: 1 1 0%;
  align-items: center;
  justify-content: center;
  border-bottom-width: 2px;
  border-color: transparent;
  font-size: 0.875rem;
  color: var(--color-gray-500);
}

.tabs-item-selected {
  border-color: var(--color-primary-800);
  font-weight: 700;
}

.ib-tabs {
  width: fit-content;
  border-collapse: collapse;
  background-color: #ffffff;
}

.ib-tabs-item {
  width: 5.5rem;
  cursor: pointer;
  border-width: 1px;
  border-color: var(--color-gray-300);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: center;
}

.ib-tabs-item-selected {
  background-color: var(--color-gray-300);
}

.textarea {
  display: block;
  height: 12rem;
  width: 100%;
  border-radius: 0.375rem;
  border-width: 1px;
  border-color: var(--color-gray-200);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.textarea::placeholder {
  color: var(--color-gray-400);
}

.textarea:focus {
  border-color: var(--color-primary-800);
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.textarea:disabled {
  background-color: var(--color-gray-100);
  color: var(--color-gray-400);
}

.text-input {
  display: block;
  height: 3rem;
  width: 100%;
  border-radius: 0.375rem;
  border-width: 1px;
  border-color: var(--color-gray-200);
  padding-left: 1rem;
  padding-right: 1rem;
}

.text-input::placeholder {
  color: var(--color-gray-400);
}

.text-input:focus {
  border-color: var(--color-primary-800);
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.text-input:disabled {
  background-color: var(--color-gray-100);
  color: var(--color-gray-400);
}

.user-text-input {
  display: block;
  width: 100%;
  border-radius: 0.5rem;
  border-width: 1px;
  border-color: var(--color-gray-200);
  padding: 1rem;
}

.user-text-input::placeholder {
  color: var(--color-gray-400);
}

.user-text-input:focus {
  border-color: var(--color-primary-800);
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.user-text-input:disabled {
  background-color: var(--color-gray-100);
  color: var(--color-gray-400);
}

.student-text-input {
  display: block;
  width: 100%;
  border-width: 1px;
  border-color: var(--color-gray-200);
  font-size: 0.875rem;
}

.student-text-input::placeholder {
  color: var(--color-gray-400);
}

.student-text-input:focus {
  border-color: var(--color-primary-800);
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.student-text-input:disabled {
  background-color: var(--color-gray-100);
  color: var(--color-gray-400);
}

.time {
  font-size: 0.875rem;
  font-weight: 300;
  color: #727272;
}

.timetable th,
.timetable td {
  height: 3.5rem;
  width: 4rem;
  border-width: 1px;
  padding: 0;
  text-align: center;
}

.section {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 20px;
  padding-right: 20px;
}

@theme {
  /* Spacing (for both padding and margin) */
  --spacing-px: 1px;
  --spacing-0: 0;
  --spacing-0.5: 0.125rem;
  --spacing-1: 0.25rem;
  --spacing-1.5: 0.375rem;
  --spacing-2: 0.5rem;
  --spacing-2.5: 0.625rem;
  --spacing-3: 0.75rem;
  --spacing-3.5: 0.875rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-7: 1.75rem;
  --spacing-8: 2rem;
  --spacing-9: 2.25rem;
  --spacing-10: 2.5rem;
  --spacing-11: 2.75rem;
  --spacing-12: 3rem;
  --spacing-14: 3.5rem;
  --spacing-16: 4rem;
  --spacing-20: 5rem;
  --spacing-24: 6rem;
  --spacing-28: 7rem;
  --spacing-32: 8rem;
  --spacing-36: 9rem;
  --spacing-40: 10rem;
  --spacing-44: 11rem;
  --spacing-48: 12rem;
  --spacing-52: 13rem;
  --spacing-56: 14rem;
  --spacing-60: 15rem;
  --spacing-64: 16rem;
  --spacing-72: 18rem;
  --spacing-80: 20rem;
  --spacing-96: 24rem;

  /* Padding */
  --padding-px: var(--spacing-px);
  --padding-0: var(--spacing-0);
  --padding-0.5: var(--spacing-0.5);
  --padding-1: var(--spacing-1);
  --padding-1.5: var(--spacing-1.5);
  --padding-2: var(--spacing-2);
  --padding-2.5: var(--spacing-2.5);
  --padding-3: var(--spacing-3);
  --padding-3.5: var(--spacing-3.5);
  --padding-4: var(--spacing-4);
  --padding-5: var(--spacing-5);
  --padding-6: var(--spacing-6);
  --padding-7: var(--spacing-7);
  --padding-8: var(--spacing-8);
  --padding-9: var(--spacing-9);
  --padding-10: var(--spacing-10);
  --padding-11: var(--spacing-11);
  --padding-12: var(--spacing-12);
  --padding-14: var(--spacing-14);
  --padding-16: var(--spacing-16);
  --padding-20: var(--spacing-20);
  --padding-24: var(--spacing-24);
  --padding-28: var(--spacing-28);
  --padding-32: var(--spacing-32);
  --padding-36: var(--spacing-36);
  --padding-40: var(--spacing-40);
  --padding-44: var(--spacing-44);
  --padding-48: var(--spacing-48);
  --padding-52: var(--spacing-52);
  --padding-56: var(--spacing-56);
  --padding-60: var(--spacing-60);
  --padding-64: var(--spacing-64);
  --padding-72: var(--spacing-72);
  --padding-80: var(--spacing-80);
  --padding-96: var(--spacing-96);

  /* Margin */
  --margin-auto: auto;
  --margin-px: var(--spacing-px);
  --margin-0: var(--spacing-0);
  --margin-0.5: var(--spacing-0.5);
  --margin-1: var(--spacing-1);
  --margin-1.5: var(--spacing-1.5);
  --margin-2: var(--spacing-2);
  --margin-2.5: var(--spacing-2.5);
  --margin-3: var(--spacing-3);
  --margin-3.5: var(--spacing-3.5);
  --margin-4: var(--spacing-4);
  --margin-5: var(--spacing-5);
  --margin-6: var(--spacing-6);
  --margin-7: var(--spacing-7);
  --margin-8: var(--spacing-8);
  --margin-9: var(--spacing-9);
  --margin-10: var(--spacing-10);
  --margin-11: var(--spacing-11);
  --margin-12: var(--spacing-12);
  --margin-14: var(--spacing-14);
  --margin-16: var(--spacing-16);
  --margin-20: var(--spacing-20);
  --margin-24: var(--spacing-24);
  --margin-28: var(--spacing-28);
  --margin-32: var(--spacing-32);
  --margin-36: var(--spacing-36);
  --margin-40: var(--spacing-40);
  --margin-44: var(--spacing-44);
  --margin-48: var(--spacing-48);
  --margin-52: var(--spacing-52);
  --margin-56: var(--spacing-56);
  --margin-60: var(--spacing-60);
  --margin-64: var(--spacing-64);
  --margin-72: var(--spacing-72);
  --margin-80: var(--spacing-80);
  --margin-96: var(--spacing-96);

  /* spacing */
  --spacing-13: 3.25rem;
  --spacing-15: 3.75rem;
  --spacing-22: 5.5rem;
  --spacing-25: 6.25rem;
  --spacing-30: 7.5rem;
  --spacing-51: 12.5rem;
  --spacing-128: 32rem;
  --spacing-256: 64rem;

  /* Font Size */
  --font-size-10: 0.625rem;
  --font-size-11: 0.6875rem;
  --font-size-12: 0.75rem;
  --font-size-13: 0.8125rem;
  --font-size-14: 0.875rem;
  --font-size-15: 0.9375rem;
  --font-size-16: 1rem;
  --font-size-17: 1.0625rem;
  --font-size-18: 1.125rem;
  --font-size-19: 1.1875rem;
  --font-size-20: 1.25rem;
  --font-size-24: 1.5rem;
  --font-size-28: 1.75rem;
  --font-size-30: 1.875rem;
  --font-size-36: 2.25rem;
  --font-size-48: 3rem;
  --font-size-60: 3.75rem;
  --font-size-72: 4.5rem;
  --font-size-96: 6rem;
  --font-size-128: 8rem;

  --line-height-10: 0.75rem;
  --line-height-11: 0.875rem;
  --line-height-12: 1rem;
  --line-height-13: 1.125rem;
  --line-height-14: 1.25rem;
  --line-height-15: 1.375rem;
  --line-height-16: 1.5rem;
  --line-height-17: 1.625rem;
  --line-height-18: 1.75rem;
  --line-height-19: 1.75rem;
  --line-height-20: 1.75rem;
  --line-height-24: 2rem;
  --line-height-28: 2.1rem;
  --line-height-30: 2.25rem;
  --line-height-36: 2.5rem;
  --line-height-48: 3rem;
  --line-height-60: 3.75rem;
  --line-height-72: 4.5rem;
  --line-height-96: 6rem;
  --line-height-128: 8rem;

  /* Font Family */
  --font-sans: 'Pretendard', 'sans-serif';

  /* Aspect Ratio */
  --aspect-ratio-1/1: 1/1;
  --aspect-ratio-5/3: 5/3;
  --aspect-ratio-3/5: 3/5;
  --aspect-ratio-3/4: 3/4;

  /* Background Images */
  --background-image-gradient-navy-400: linear-gradient(90deg, #6e83a3 0%, #a4c0cf 100%);
  --background-image-gradient-blue-400: linear-gradient(90deg, #356fff 0%, #66bdff 100%);
  --background-image-gradient-green-400: linear-gradient(90deg, #00be85 0%, #76dabc 100%);
  --background-image-gradient-orange-400: linear-gradient(90deg, #ff803d 0%, #ffbc99 100%);
  --background-image-gradient-white: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);

  /* Old Primary Colors */
  --color-old-primary-red-100: #ffebeb;
  --color-old-primary-red-400: #ffadad;
  --color-old-primary-red-800: #ff2626;
  --color-old-primary-green-50: #f3fbf9;
  --color-old-primary-green-100: #ddf4ed;
  --color-old-primary-green-400: #78ceb9;
  --color-old-primary-green-800: #00a876;
  --color-old-primary-blue-50: #f2f9ff;
  --color-old-primary-blue-100: #dbeeff;
  --color-old-primary-blue-400: #66b2ff;
  --color-old-primary-blue-800: #0066ff;

  /* Colors */
  --color-littlegray: rgba(0, 0, 0, 0.2);
  --color-littleblack: rgba(0, 0, 0, 0.5);
  --color-transblack: rgba(0, 0, 0, 0.8);

  --color-counselingCategory-0: rgba(0, 168, 95, 0.12);
  --color-counselingCategory-1: rgba(253, 196, 0, 0.12);
  --color-counselingCategory-2: rgba(50, 99, 227, 0.12);
  --color-counselingCategory-3: rgba(252, 121, 0, 0.12);

  --color-users-user: #fdc400;
  --color-users-teacher: #00a85f;
  --color-users-admin: #3263e3;

  /* Gradient */
  --color-gradient-green-400: linear-gradient(rgba(0, 190, 133, 1), rgba(118, 218, 188, 1));
  --color-gradient-green-800: linear-gradient(rgba(0, 168, 118, 1), rgba(92, 202, 175, 1));
  --color-gradient-blue-400: linear-gradient(rgba(53, 111, 255, 1), rgba(102, 178, 255, 1));
  --color-gradient-blue-800: linear-gradient(rgba(0, 102, 255, 1), rgba(67, 161, 255, 1));
  --color-gradient-orange-400: linear-gradient(rgba(255, 128, 61, 1), rgba(255, 188, 153, 1));
  --color-gradient-orange-800: linear-gradient(rgba(255, 96, 12, 1), rgba(255, 128, 61, 1));
  --color-gradient-navy-400: linear-gradient(rgba(110, 131, 163, 1), rgba(164, 192, 207, 1));

  /* Font Sizes */
  --text-10: 0.625rem;
  --text-10--line-height: 0.75rem;
  --text-11: 0.6875rem;
  --text-11--line-height: 0.875rem;
  --text-13: 0.8125rem;
  --text-13--line-height: 1.125rem;
  --text-14: 14px;
  --text-15: 0.9375rem;
  --text-15--line-height: 1.375rem;
  --text-17: 1.0625rem;
  --text-17--line-height: 1.625rem;
  --text-19: 1.1875rem;
  --text-19--line-height: 1.75rem;
  --text-28: 1.75rem;
  --text-28--line-height: 2.1rem;

  /* Height */
  --height-screen-2: calc(100vh - 2rem);
  --height-screen-3: calc(100vh - 3rem);
  --height-screen-3.5: calc(100vh - 3.5rem);
  --height-screen-4: calc(100vh - 4rem);
  --height-screen-4.5: calc(100vh - 4.5rem);
  --height-screen-5: calc(100vh - 5rem);
  --height-screen-6: calc(100vh - 6rem);
  --height-screen-7: calc(100vh - 7rem);
  --height-screen-8: calc(100vh - 8rem);
  --height-screen-9: calc(100vh - 9rem);
  --height-screen-10: calc(100vh - 10rem);
  --height-screen-12: calc(100vh - 12rem);
  --height-screen-13: calc(100vh - 13rem);
  --height-screen-14: calc(100vh - 14rem);
  --height-screen-15: calc(100vh - 15rem);
  --height-screen-16: calc(100vh - 16rem);
  --height-screen-18: calc(100vh - 18rem);
  --height-screen-20: calc(100vh - 20rem);
  --height-screen-22: calc(100vh - 22rem);
  --height-screen-30: calc(100vh - 30rem);
  --height-screen-32: calc(100vh - 32rem);
  --height-screen-64: calc(100vh - 64rem);

  /* Min Width */
  --min-width-4: 1rem;
  --min-width-10: 2.5rem;
  --min-width-100: 25rem;
  --min-width-1/2: 50%;
  --min-width-1/2-2: calc(50% - 0.5rem);

  /* Min Height */
  --min-height-48: 12rem;
  --min-height-64: 16rem;
  --min-height-screen-48: calc(100vh - 12rem);

  /* Max Width */
  --max-width-2/3: 66%;
  --max-width-3/4: 75%;

  /* Max Height */
  --max-height-screen-12: calc(100vh - 3rem);
  --max-height-screen-48: calc(100vh - 12rem);

  /* Width */
  --width-1/2-2: calc(50% - 0.5rem);
  --width-1/3-2: calc(33.33% - 0.5rem);
  --width-1/4-2: calc(25% - 0.5rem);
  --width-1/6-2: calc(16.66% - 0.5rem);
  --width-full-2: calc(100% - 0.5rem);
  --width-inherit: inherit;

  /* Z-Index */
  --z-index--20: -20;
  --z-index--10: -10;
  --z-index-60: 60;
  --z-index-100: 100;
  --z-index-150: 150;

  /* Backdrop Blur */
  --backdrop-blur-20px: 20px;
}

.scrollable-wide {
  overflow-x: auto;
  padding: 3px;
}
.scrollable-wide::-webkit-scrollbar {
  width: 70px;
  height: 4px;
}
.scrollable-wide::-webkit-scrollbar-thumb {
  background-color: rgba(216, 219, 223, 1);
  border-radius: 4px;
}
.scrollable-wide::-webkit-scrollbar-track {
  background: transparent;
}

.scroll-box {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.scroll-box::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.card_shadow {
  border: 1px solid #e5e8eb;
  box-shadow:
    0px 4px 30px rgba(0, 0, 0, 0.04),
    0px 4px 30px rgba(0, 0, 0, 0.04);
  border-radius: 24px;
}

.feedback_space a {
  color: #2f80ed;
}
.feedback_space a:hover {
  text-decoration: underline;
}

/* legacy base */
.aspect-1\/1 {
  aspect-ratio: 1/1;
}

.aspect-5\/3 {
  aspect-ratio: 5/3;
}

.aspect-3\/5 {
  aspect-ratio: 3\/5;
}

.aspect-3\/4 {
  aspect-ratio: 3/4;
}

.h-screen-2 {
  height: var(--height-screen-2);
}
.h-screen-3 {
  height: var(--height-screen-3);
}
.h-screen-3\.5 {
  height: var(--height-screen-3\.5);
}
.h-screen-4 {
  height: var(--height-screen-4);
}
.h-screen-4\.5 {
  height: var(--height-screen-4\.5);
}
.h-screen-5 {
  height: var(--height-screen-5);
}
.h-screen-6 {
  height: var(--height-screen-6);
}
.h-screen-7 {
  height: var(--height-screen-7);
}
.h-screen-8 {
  height: var(--height-screen-8);
}
.h-screen-9 {
  height: var(--height-screen-9);
}
.h-screen-10 {
  height: var(--height-screen-10);
}
.h-screen-12 {
  height: var(--height-screen-12);
}
.h-screen-13 {
  height: var(--height-screen-13);
}
.h-screen-14 {
  height: var(--height-screen-14);
}
.h-screen-15 {
  height: var(--height-screen-15);
}
.h-screen-16 {
  height: var(--height-screen-16);
}
.h-screen-18 {
  height: var(--height-screen-18);
}
.h-screen-20 {
  height: var(--height-screen-20);
}
.h-screen-22 {
  height: var(--height-screen-22);
}
.h-screen-30 {
  height: var(--height-screen-30);
}
.h-screen-32 {
  height: var(--height-screen-32);
}
.h-screen-64 {
  height: var(--height-screen-64);
}

.min-w-4 {
  min-width: var(--min-width-4);
}
.min-w-10 {
  min-width: var(--min-width-10);
}
.min-w-100 {
  min-width: var(--min-width-100);
}
.min-w-1\/2 {
  min-width: var(--min-width-1\/2);
}
.min-w-1\/2-2 {
  min-width: var(--min-width-1\/2-2);
}

/* Min Height */
.min-h-48 {
  min-height: var(--min-height-48);
}
.min-h-64 {
  min-height: var(--min-height-64);
}
.min-h-screen-48 {
  min-height: var(--min-height-screen-48);
}

.max-w-2\/3 {
  max-width: var(--max-width-2\/3);
}
.max-w-3\/4 {
  max-width: var(--max-width-3\/4);
}

.max-h-screen-12 {
  max-height: var(--max-height-screen-12);
}
.max-h-screen-48 {
  max-height: var(--max-height-screen-48);
}

.w-1\/2-2 {
  width: var(--width);
}

.w-1\/2-2 {
  width: var(--width-1\/2-2);
}

.w-1\/3-2 {
  width: var(--width-1\/3-2);
}

.w-1\/4-2 {
  width: var(--width-1\/4-2);
}

.w-1\/6-2 {
  width: var(--width-1\/6-2);
}

.w-full-2 {
  width: var(--width-full-2);
}

.w-inherit {
  width: var(--width-inherit);
}

.-z-20 {
  z-index: var(--z-index--20);
}
.-z-10 {
  z-index: var(--z-index--10);
}
.z-60 {
  z-index: var(--z-index-60);
}
.z-100 {
  z-index: var(--z-index-100);
}
.z-150 {
  z-index: var(--z-index-150);
}

.bg-light_orange {
  background-color: var(--color-light_orange);
}
.text-light_orange {
  color: var(--color-light_orange);
}

.bg-littlegray {
  background-color: var(--color-littlegray);
}

.bg-littleblack {
  background-color: var(--color-littleblack);
}
.text-littleblack {
  color: var(--color-littleblack);
}

.bg-counselingCategory-0 {
  background-color: var(--color-counselingCategory-0);
}
.bg-counselingCategory-1 {
  background-color: var(--color-counselingCategory-1);
}
.bg-counselingCategory-2 {
  background-color: var(--color-counselingCategory-2);
}
.bg-counselingCategory-3 {
  background-color: var(--color-counselingCategory-3);
}

.bg-users-user {
  background-color: var(--color-users-user);
}
.bg-users-teacher {
  background-color: var(--color-users-teacher);
}
.bg-users-admin {
  background-color: var(--color-users-admin);
}

.backdrop-blur-20 {
  backdrop-filter: blur(20px);
}

.filled-primary {
  background-color: var(--color-primary-800);
  border: 1px solid transparent;
  color: #ffffff;
}
.filled-primary:disabled {
  background-color: #f8efe4;
}

.filled-gray {
  background-color: var(--color-gray-500);
  border: 1px solid transparent;
  color: #ffffff;
}
.filled-gray:disabled {
  background-color: var(--color-gray-200);
}

.filled-gray-dark {
  background-color: var(--color-gray-800);
  border: 1px solid transparent;
  color: #ffffff;
}
.filled-gray-dark:disabled {
  background-color: var(--color-gray-200);
}

.filled-gray-300 {
  background-color: var(--color-gray-300);
  border: 1px solid transparent;
  color: #ffffff;
}
.filled-gray-300:disabled {
  background-color: var(--color-gray-200);
}

.filled-gray-light {
  background-color: var(--color-gray-100);
  border: 1px solid transparent;
}
.filled-gray-light:disabled {
  color: #ffffff;
}

.filled-blue {
  background-color: var(--color-blue-500);
  border: 1px solid transparent;
  color: #ffffff;
}
.filled-blue:disabled {
  background-color: var(--color-gray-200);
}

.filled-green {
  background-color: var(--color-green-500);
  border: 1px solid transparent;
  color: #ffffff;
}
.filled-green:disabled {
  background-color: var(--color-gray-200);
}

.filled-red {
  background-color: var(--color-red-500);
  border: 1px solid transparent;
  color: #ffffff;
}
.filled-red:disabled {
  background-color: var(--color-gray-200);
}

.filled-red-light {
  background-color: var(--color-red-50);
  border: 1px solid transparent;
  color: var(--color-red-500);
}
.filled-red-light:disabled {
  color: #ffffff;
}

.filled-yellow {
  background-color: var(--color-yellow-500);
  border: 1px solid transparent;
  color: #ffffff;
}
.filled-yellow:disabled {
  background-color: var(--color-gray-200);
}

.outlined-primary {
  background-color: #ffffff;
  border: 1px solid var(--color-primary-800);
  color: var(--color-primary-800);
}
.outlined-primary:hover {
  background-color: var(--color-gray-50);
}
.outlined-primary:disabled {
  background-color: var(--color-gray-100);
  border-color: var(--color-gray-200);
  color: var(--color-gray-400);
}

.outlined-gray {
  background-color: #ffffff;
  border: 1px solid var(--color-gray-400);
  color: var(--color-gray-700);
}
.outlined-gray:hover {
  background-color: var(--color-gray-50);
}
.outlined-gray:disabled {
  background-color: var(--color-gray-100);
  border-color: var(--color-gray-200);
  color: var(--color-gray-400);
}

.outlined-blue {
  background-color: #ffffff;
  border: 1px solid var(--color-blue-500);
  color: var(--color-blue-500);
}
.outlined-blue:hover {
  background-color: var(--color-gray-50);
}
.outlined-blue:disabled {
  background-color: var(--color-gray-100);
  border-color: var(--color-gray-200);
  color: var(--color-gray-400);
}
