.react-calendar__navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.react-calendar__navigation__label {
  order: 1;
  flex: 1;
  text-align: left;
  font-size: 1.25rem;
  font-weight: 700;
}

.react-calendar__navigation__prev-button,
.react-calendar__navigation__next-button {
  order: 2;
}

.react-calendar__navigation__arrow {
  display: flex;
  flex: 1;
  justify-content: center;
}

/* .react-calendar__month-view__weekdays__weekday--weekend {
  height: 2.5rem;
  width: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
} */
@media (max-width: 768px) {
  .react-calendar__month-view__weekdays {
    display: grid !important;
    grid-template-columns: repeat(7, 1fr) !important;
    place-items: center;
  }
}

@media (min-width: 768px) {
  .react-calendar__month-view__weekdays {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.react-calendar__tile {
  position: relative;
  display: flex;
  height: 2.5rem;
  width: 2.5rem;
  align-items: center;
  justify-content: center;
  padding: 0;
}

@media (max-width: 768px) {
  .react-calendar__month-view__days {
    display: grid !important;
    grid-template-columns: repeat(7, 1fr) !important;
    place-items: center;
    row-gap: 0.25rem;
  }
}

@media (min-width: 768px) {
  .react-calendar__month-view__days {
    display: flex;
    flex-direction: row;
    column-gap: 86.67px;
    row-gap: 3rem;
    text-align: center;
  }
}

.react-calendar__month-view__weekdays__weekday {
  height: 2.5rem !important;
  width: 2.5rem !important;
  flex: none !important;
  padding: 0;
  text-align: center;
  display: flex;
  align-items: center; /* 수직 중앙 정렬 */
  justify-content: center; /* 수평 중앙 정렬 */
}

.react-calendar__month-view__weekdays__weekday abbr {
  font-size: 0.8125rem;
  font-weight: 500;
  color: #9ca3af;
  text-decoration: none;
}

/* 일요일 (첫 번째 칼럼) */
.react-calendar__month-view__weekdays__weekday:nth-child(1) abbr {
  font-size: 0.8125rem;
  font-weight: 500;
  color: #f87171;
  text-decoration: none;
}

/* 토요일 (마지막 칼럼) */
.react-calendar__month-view__weekdays__weekday:nth-child(7) abbr {
  font-size: 0.8125rem;
  font-weight: 500;
  color: #60a5fa;
  text-decoration: none;
}

.react-calendar__viewContainer {
  margin-top: 1rem;
}

.react-calendar__month-view__days__day {
  position: relative;
  height: 2.5rem !important;
  width: 2.5rem !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  color: #111827;
}

.react-calendar__month-view__days__day {
  height: 2.5rem !important;
  width: 2.5rem !important;
  flex: none !important;
  padding: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.react-calendar__month-view__days__day--neighboringMonth {
  font-size: 1rem;
  font-weight: 500;
  color: #9ca3af;
}

.react-calendar__tile--active {
  border-radius: 0.5rem;
  border: 1px solid #e5e7eb;
  background-color: white;
  color: #9a3412 !important;
  box-shadow: 0px 1px 4px 0px rgba(36, 40, 45, 0.08);
}

.react-calendar__tile--now {
  border-radius: 0.5rem;
  background-color: #f3f4f6 !important;
}

.react-calendar__tile--active.react-calendar__tile--now {
  color: #2563eb;
}

.tui-full-calendar-button {
  display: flex !important;
}

.fc-theme-standard .fc-scrollgrid {
  border-left: none;
  border-right: none;
}

/* FullCalendar styles */
.sunday-red .fc-day-sun {
  color: var(--color-red-500);
}

.sunday-red .fc-col-header-cell.fc-day-sun {
  color: var(--color-red-500);
}

.fc .fc-daygrid-day-top {
  flex-direction: row;
}

.fc .fc-col-header-cell-cushion {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.fc .fc-daygrid-day {
  height: 100px !important;
}

.fc .fc-daygrid-day-frame {
  height: 100% !important;
}
